
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-muted">{{ site.data.global.footer_text }}</p>
                </div>
            </div>
        </div>
    </footer>


    <!-- JavaScript -->
    <script src="{{ site.data.global.url }}/js/jquery.min.js"></script>
    <script src="{{ site.data.global.url }}/js/bootstrap.min.js"></script>
    <script src="{{ site.data.global.url }}/js/power.js"></script>
    <script src="{{ site.data.global.url }}/js/charts-loader.js"></script>

    </body>
</html>